body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 30px;
}

h1 {
    color: #2c3e50;
}

section {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input {
    padding: 6px;
    margin: 5px;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

#xssZone {
    margin-top: 10px;
    border: 1px dashed red;
    padding: 10px;
}
